html,body{
    margin: 0;
    min-height: 100%;
}
.header{
   background-color:#4d4d4d;
   background-image: linear-gradient(rgba(29, 6, 6, 0.8), rgba(41, 13, 13, 0.2));
   text-align: center;
   color: #5d5f4d;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 60px;
   font-style: italic;
}

.content{
   margin: 0;
   padding: 15px;
   background-image:linear-gradient(rgba(29, 6, 6, 0.8), rgba(41, 13, 13, 0.7)),url(jstudios.svg);
   background-attachment: fixed;
   text-align: center;
   background-repeat: no-repeat;
   background-size: 100% 100%;
}

.i{
   color: #777777;
   padding: 5px;
   font-size: 20px;
   text-align: left;
   margin-left: 20px;
}
.test-area{
   color: #f0f0f0;
   padding: 5px;
   margin-bottom: 10px;
   text-align: left;
   font-size: 25px;
   border: 1px solid  #ccccff;
}
.timer{
   text-align: right;
   color:#fff2f2;
   font-size: 50px;
}
.test-wrapper {
   height: 200%;
   display: flex;
   border: none;
}
.test-wrapper textarea {
   color: #f2f2f2;
       padding:5px;
       font-family: 'Source Sans Pro', 'Helvetica', Arial, sans-serif;
       font-size: 18px;
       line-height: 1.5;
       flex: 1;
       background: transparent;
}
.btnr{
   padding: 5px 25px;
   color: #ffffff;
   background-color: #e0aeae;
   border-radius: 5px;
   border: 1px solid #c8c8c8;
}
.btnr:hover{
   background-color: #ff8f8f;
}

footer{
   margin: 0;
   padding: 5px;
   background-color:#4d4d4d;
   color: #678b91;
}
.navi{
   list-style: none;
   display: inline;
   padding: 10px;
}
.social-media{
   margin-top: 10px;
   text-align: right;
}
.social-media li a{
   color: #678b91;
   font-size: 20px;
}
.social-media li a:hover{
   color: #ecf8fae8;
}
.copyrights{
   font-family:'Times New Roman', Times, serif;
   text-align: center;
   color:#f2f2f2;
   margin-bottom: 10px;
}